{% extends "ballot/ballot_base.html" %}
{% load sekizai_tags i18n  %}
{% block ballot_content %}
{{ block.super }}

<div class="ballot_login">
	<div class="ballot_input_box">

		{% if form %}
		<form  method="post" class="bp">
			{% endif %}

			<div class="main_content_design">
				{% if form %}
				{% if form.errors %}
				<div class="error-message">
					<p>
						{% trans "Please check your email and password" %}
					</p>
				</div>
				{% endif %}
				<div class="form-options">
					{% for field in form.visible_fields %}

					<div class="fieldWrapper{% if field.errors %} error{% endif %}">
						{# Include the hidden fields in the form #}
						{% if forloop.first %}
						{% for hidden in form.hidden_fields %}
						{{ hidden }}
						{% endfor %}
						{% endif %}
						{% if field.errors %}
						<div class="exclamation-error">
							<p>
								!
							</p>
						</div>
						{% endif %}
						<div class="fieldLabel">
							{{ field.label_tag }}:
						</div>
						<div class="fieldInput">
							{{ field }}
						</div>

					</div>
					{% endfor %}
				</div>

				{%csrf_token%}

				{% endif %}
			</div>

			<div class="fieldWrapper">
				<input style="margin-left: 20%;" class="button" type="submit" value="{% trans "Login" %}" />
			</div>
			{% if form %}
		</form>
		{% endif %}
		{% if not user.is_authenticated %}
		<div class="facebook-wrapper">
			<div class="facebook-text">
				<a href="{% url socialauth_begin "facebook" %}"> Kirjaudu facebook tunnuksella </a>
			</div>
		</div>
		{% endif %}
	</div>

	<div class="reset-login">
		<a class="button_change_password" href="{% url auth_password_reset %}?email={{form.email.value}}" >{% trans "Did you forgot your password?" %} </a>
	</div>
	{% if user.is_authenticated %}
	{% if not change_password %}
	<a class="button_change_password" href="{% url ballot_change_password %}"> <img src="{{STATIC_URL}}/img/button-off.png">{% trans "Change password" %}</a>
	{% endif %}
	{% endif %}

</div>

{% addtoblock "js" %}

{% endaddtoblock "js" %}

{% endblock ballot_content %}