{% extends "default.html" %}
{% load i18n cms_tags %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block main_content %}
<div class="reset-email-form">
	<h1>{% trans "Password reset" %}</h1>

	<p>
		{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
	</p>
	{% if form %}
		<form  method="post" class="bp">
			{% endif %}

			<div class="main_content_design">
				{% if form %}
				{% if form.errors %}
				<div class="error-message">
					<p>
						{% trans "The email is not correct" %}
					</p>
				</div>
				{% endif %}
				<div class="form-options">
					{% for field in form.visible_fields %}

					<div class="fieldWrapper{% if field.errors %} error{% endif %}">
						{# Include the hidden fields in the form #}
						{% if forloop.first %}
						{% for hidden in form.hidden_fields %}
						{{ hidden }}
						{% endfor %}
						{% endif %}
						{% if field.errors %}
						<div class="exclamation-error">
							<p>
								!
							</p>
						</div>
						{% endif %}
						<div class="fieldLabel">
							{{ field.label_tag }}:
						</div>
						<div class="fieldInput">
							{{ field }}
						</div>

					</div>
					{% endfor %}
				</div>

				{%csrf_token%}

				{% endif %}
			</div>

			<div class="fieldWrapper">
				<input style="margin-left: 20%;" class="button" type="submit" value="{% trans "Login" %}" />
			</div>
			{% if form %}
		</form>
		{% endif %}
	
</div>
{% endblock %}

{% block right_menu %}

<div class="right_menu_design">
	{% placeholder right_menu inherit %}
</div>

{% endblock %}
